<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">A versatile foundation for command-line driven development</h1>
      <div class="is-two-third column is-paddingless">
        <h2 class="subtitle is-4">From single-file scripts to multi-tier applications, the service offers the simplicity of a micro-framework, with the capabilities of a mega-framework.</h2>
      </div>
      <a class="button is-large is-primary">Learn more</a>
    </div>
  </div>
</section>


<section class="section pd">
  <div class="container">
    <div class="columns">
      <div class="column is-1 has-text-centered">
        <i class="fa fa-cog is-primary"></i>
      </div>
      <div class="column is-one-third">
        <p class="title"><strong>The Developer Guide provides practical, real-world examples and instruction on using the framework without the noise and complexity of the complete library reference. </strong></p>
      </div>
      <div class="column">
        <p>The API Reference provides a searchable reference guide of every detail of the framework's interfaces, handlers, and extensions. </p>
      </div>
    </div>

    <div class="columns pd">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="title">Quickstart your introduction with a beginner tutorial on building a command-line based task management application.</p>
              <p class="subtitle">20 minute beginner tutorial </p>
            </div>
          </div>
        </div>
        
        <div class="column">
            <div class="card">
              <div class="card-content">
                <p class="title">Quickstart your introduction with a beginner tutorial on building a command-line based task management application.</p>
                <p class="subtitle">20 minute beginner tutorial </p>
              </div>
            </div>
          </div>

          <div class="column">
              <div class="card">
                <div class="card-content">
                  <p class="title">Quickstart your introduction with a beginner tutorial on building a command-line based task management application.</p>
                  <p class="subtitle">20 minute beginner tutorial </p>
                </div>
              </div>
            </div>
    </div>
  </div>

</section>