<div class="container">
  <section class="section">
    <h1 class="title">FAQ</h1>
    <h2 class="subtitle is-4">From single-file scripts to multi-tier applications, the service offers the simplicity of a micro-framework, with the capabilities of a mega-framework.</h2>

    <div class="columns">
        <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <p class="title">{{ fag.title }}</p>
              <p class="answer">{{fag.body }}</p>
            </div>
          </div>
        </div>
  </div>
</section>
</div>